<!DOCTYPE HTML>
<html><head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title tt="toolname"></title>
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://tools-static.wmflabs.org/magnustools/resources/html/wikimedia.css">
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
<script src="https://tools-static.wmflabs.org/tooltranslate/tt.js"></script>
<script src="https://tools-static.wmflabs.org/magnustools/resources/js/wikidata.js"></script>

<style>
table.tags-table td {
	vertical-align:top;
}
</style>

</head>

<body>

<div id='app' class='container'>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style='margin-right:10px;'>
		<div class="btn-group" style='margin-top:9px;'>
		<a href='#/' class="btn btn-light" tt='toolname'></a>
		<button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu dropdown-menu-right" style="padding:2px">
<!--			<router-link to='/rc' class="dropdown-item" style="padding:2px" tt="recent_changes"></router-link>
			<router-link to='/creation_candidates' class="dropdown-item" style="padding:2px" tt="creation_candidates"></router-link>
			<router-link to='/creation_candidates/human' class="dropdown-item" style="padding:2px" tt="creation_candidates_human"></router-link>
			<router-link to='/creation_candidates/taxon' class="dropdown-item" style="padding:2px" tt="creation_candidates_taxon"></router-link>
			<router-link to='/sparql' class="dropdown-item" style="padding:2px" tt="sparql_list"></router-link>
			<router-link to='/top_missing' class="dropdown-item" style="padding:2px" tt="top_missing"></router-link>
			<router-link to='/scraper/new' class="dropdown-item" style="padding:2px" tt="new_scraper"></router-link>
			<router-link to='/random' class="dropdown-item" style="padding:2px" tt="random_entry_all_catalogs"></router-link>
-->
			<a style="padding:2px" class="dropdown-item external" href="https://meta.wikimedia.org/wiki/SourceMD_Tagger" target='_blank' tt="about"></a>
		</div>
		</div>
      </li>

      <li class="nav-item active">
		<div class='' id='tooltranslate_wrapper'></div>
      </li>

    </ul>

    <router-link to='/random' style="margin:0px;padding:0px;margin-top:4px;margin-left:10px;" tt="random_paper"></router-link>
   	<widar></widar>
    <a style="margin:0px;padding:0px;margin-top:4px;margin-left:10px;" href="/" target='_blank'><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Toolforge_logo.svg/32px-Toolforge_logo.svg.png" tt_title="wmf_powered" border="0" width="32px"></a>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>
</nav>

<!--
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style='min-height:40px;'>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      

      
    </ul>
  </div>
</nav>
-->


<router-view><i tt='loading'></i></router-view>
</div>

</body>


<!-- BEGIN TEMPLATES FOR VUE COMPONENTS -->

<template id='main-page-template'>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='lead' tt='lead'></div>
		</div> 
	</div>
</template>

<template id='paper-page-template'>
	<div>
		<div v-if='loading'><i tt='loading'></i></div>
		<div v-else-if='!item_loaded' tt='item_load_fail' :tt1='paper_q'></div>
		<div v-else class='row'>
			<div class='col-sm-12'>
				<h3>
					{{i.getLabel(current_language)}}
					<small>
						[<a class='wikidata' target='_blank' :href='"https://www.wikidata.org/wiki/"+i.getID()'>{{i.getID()}}</a>]
					</small>
					<small v-if='i.hasClaims("P356")'>
						[<a class='external' target='_blank' :href='"https://doi.org/"+encodeURIComponent(i.getFirstStringForProperty("P356"))'>DOI</a>]
					</small>
					<small v-if='i.hasClaims("P698")'>
						[<a class='external' target='_blank' :href='"https://www.ncbi.nlm.nih.gov/pubmed/?term="+encodeURIComponent(i.getFirstStringForProperty("P698"))'>PubMed</a>]
					</small>
					<small v-if='i.hasClaims("P932")'>
						[<a class='external' target='_blank' :href='"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC"+encodeURIComponent(i.getFirstStringForProperty("P932"))'>PubMed Central</a>]
					</small>
				</h3>
			</div>
			<div v-if='abstract!=""' class='col-sm-12'>
				<div class="card bg-light mb-3">
					<div class="card-header" tt='abstract'></div>
					<div class="card-body">
						<p class="card-text">{{abstract}}</p>
					</div>
				</div>
			</div>
			<div v-if='i.hasClaims("P1922")' class='col-sm-12'>
				<div class="card bg-light mb-3">
					<div class="card-header" tt='first-line'></div>
					<ul  v-for='c in i.getClaimsForProperty("P1922")' class="list-group list-group-flush">
						 <li class="list-group-item">
						 	<div class='row'>
						 		<div class='col-sm-1'>{{c.mainsnak.datavalue.value.language}}</div>
						 		<div class='col-sm-11'>{{c.mainsnak.datavalue.value.text}}</div>
						 	</div>
						 </li>
					</ul>
				</div>
			</div>
			<div class='col-sm-12'>
				<div v-if='running>0'><i tt='running'></i></div>
				<div v-else>
					<table class='table tags-table'>
						<tbody>
							<tr v-for='(tag) in tag_order'>
								<td style='padding-right:5px;'>
									<span v-if='is_tagged[tag]=="in_item"'>&#10003;</span>
									<span v-else-if='is_tagged[tag]=="tagging"'>
										<img src='https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif' width='16px' height='auto' />
									</span>
									<span v-else>
										<input type='checkbox' @change='setMainTopic(tag)' />
									</span>
								</td>
								<td>
									<a class='wikidata' target='_blank' :href='"https://www.wikidata.org/wiki/"+tag'>
										{{wd.getItem(tag).getLabel(current_language)}}
									</a>
								</td>
								<td>
									<small>{{wd.getItem(tag).getDesc()}}</small>
								</td>
<!--								<td>{{tags[tag]}}</td>-->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<template id='widar-template'>
<div style='margin-left:5px;margin-right:5px;text-align:center' v-if="loaded">
<div v-if='is_logged_in' style='line-height:1.4em'>
	<span tt="welcome"></span>
	<br/>
	<a class='wikidata' target='_blank' :href='"https://www.wikidata.org/wiki/User:"+encodeURIComponent(userinfo.name)'>{{userinfo.name}}</a>
</div>
<div v-else><i tt="log_into_widar"></i></div>
</div>
</template>


<!-- END TEMPLATES FOR VUE COMPONENTS -->


<script src="vue.js"></script>

</html>